<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        footer {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 15px 0;
            margin-top: 20px;
            position: relative;
            width: 100%;
        }
        footer p {
            margin: 0;
            font-size: 1rem;
        }
    </style>
</head>
<body>
<footer style="text-align: center">
    <p>&copy; 2024 School Management. All rights reserved.</p>
</footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
